*{
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    background-color: #5F6366;
    color: white; 
    padding: 0;
    justify-content: center;
}

h1 {
    text-align: center;
}

#searchBtn {
    background-color: #EDB5BF;
}

.searchCities {
    margin-left: 5%;
    
}

body {
    background-color: #4D6D9A;
    color: white;
}

.card {
    background-color: #EDB5BF;
    width: 100%;
    margin-right: 5%;
    margin-top: 3%;
}

.five {
    background-color:#EDB5BF;
    margin-right: 1%;
    margin-left: 1%;
}

a.list-group-item {
    background-color: #99CED3;
    color: #4D6D9A;

}

.input-group {
    width: 100%;
    margin-bottom: 5%;
}

#box2 {
    background-color: #86B3D1;
    width: 100%;
    margin-right: 5%;
    margin-top: 3%;
}

#inputSearch {
    margin-top: 1%;
}

@media screen and (max-width: 800px) {

    .five {
        float: left;
        max-width: 100%;
    }

    #forecast {
        max-width: 100%;
        grid-row: span;

    }
}

